@import url("font.css");
@import url("colors.css");

body {
    background-color: var(--gris2);
    font-family: "Ubuntu Mono";
    font-size: 21px;
    margin: 0px;
}
.hb {
    backdrop-filter: blur(2px);
    max-height: 55px;
    overflow: hidden;
    background-color: rgba(68, 68, 68, 0.5);
}
.hb a {
    float: left;
    height: 30px;
    padding: 16px 16px 14px 16px;
    font-size: 21px !important;
    color: var(--rojo);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}
.hb svg:not(.hb-a-icon-right) {
    height: 30px;
    padding: 12px 16px;
    fill: var(--rojo);
    transition: 0.3s;
}
.hb a:hover:not(:first-child) {
    background-color: var(--rojo);
    color: var(--gris2);
}
.hb a.right {
    float: right;
}
.hb-a-icon {
    padding: 0px !important;
    min-height: 55px;
}
.fa {
    margin-top: -3px;
    font-size: 30px;
    vertical-align: middle;
}
