@import url("colors.css");

body {
    color: var(--rojo);
    text-align: center;
}
main {
    padding: 50px 20px 20px 20px;
}
.topbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.link:link {
    color: var(--rojo);
}
.link:visited {
    color: var(--rojo2);
}
.md-contenido {
    color: var(--rojo);
}
.md-contenido img {
    max-width: 70vw;
}
a:link {
    color: var(--rojo);
}
a:visited {
    color: var(--rojo2);
}

/* MEDIA */
.yt-embed {
    margin-top: 20px;
}